body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1034_div {
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:647px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1034 {
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:647px;
}
#u1035 {
  position:absolute;
  left:2px;
  top:316px;
  width:362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1036_img {
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:22px;
}
#u1036 {
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:22px;
}
#u1037 {
  position:absolute;
  left:2px;
  top:3px;
  width:362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1038_img {
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:22px;
}
#u1038 {
  position:absolute;
  left:0px;
  top:22px;
  width:366px;
  height:22px;
}
#u1039 {
  position:absolute;
  left:2px;
  top:3px;
  width:362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1040_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1040 {
  position:absolute;
  left:135px;
  top:11px;
  width:123px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1041 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  word-wrap:break-word;
}
#u1042_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1042 {
  position:absolute;
  left:9px;
  top:5px;
  width:80px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1043 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u1044_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:57px;
}
#u1044 {
  position:absolute;
  left:9px;
  top:52px;
  width:57px;
  height:57px;
}
#u1045 {
  position:absolute;
  left:2px;
  top:20px;
  width:53px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1046_div {
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:75px;
  background:inherit;
  background-color:rgba(92, 191, 36, 0.227450980392157);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1046 {
  position:absolute;
  left:0px;
  top:43px;
  width:366px;
  height:75px;
}
#u1047 {
  position:absolute;
  left:2px;
  top:30px;
  width:362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1048_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:57px;
}
#u1048 {
  position:absolute;
  left:9px;
  top:130px;
  width:57px;
  height:57px;
}
#u1049 {
  position:absolute;
  left:2px;
  top:20px;
  width:53px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1050_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:57px;
}
#u1050 {
  position:absolute;
  left:9px;
  top:207px;
  width:57px;
  height:57px;
}
#u1051 {
  position:absolute;
  left:2px;
  top:20px;
  width:53px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1052_div {
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:75px;
  background:inherit;
  background-color:rgba(153, 153, 153, 0.227450980392157);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1052 {
  position:absolute;
  left:0px;
  top:118px;
  width:366px;
  height:75px;
}
#u1053 {
  position:absolute;
  left:2px;
  top:30px;
  width:362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1054_div {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u1054 {
  position:absolute;
  left:78px;
  top:70px;
  width:217px;
  height:19px;
  color:#999999;
}
#u1055 {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  word-wrap:break-word;
}
#u1056_div {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#999999;
}
#u1056 {
  position:absolute;
  left:78px;
  top:147px;
  width:240px;
  height:16px;
  font-size:14px;
  color:#999999;
}
#u1057 {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  word-wrap:break-word;
}
#u1058_div {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#999999;
}
#u1058 {
  position:absolute;
  left:78px;
  top:223px;
  width:217px;
  height:16px;
  font-size:14px;
  color:#999999;
}
#u1059 {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  word-wrap:break-word;
}
#u1060_div {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#999999;
}
#u1060 {
  position:absolute;
  left:78px;
  top:291px;
  width:217px;
  height:16px;
  font-size:14px;
  color:#999999;
}
#u1061 {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  word-wrap:break-word;
}
#u1062_div {
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:75px;
  background:inherit;
  background-color:rgba(92, 191, 36, 0.227450980392157);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1062 {
  position:absolute;
  left:0px;
  top:193px;
  width:366px;
  height:75px;
}
#u1063 {
  position:absolute;
  left:2px;
  top:30px;
  width:362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1064_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:57px;
}
#u1064 {
  position:absolute;
  left:9px;
  top:274px;
  width:57px;
  height:57px;
}
#u1065 {
  position:absolute;
  left:2px;
  top:20px;
  width:53px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1066_div {
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:75px;
  background:inherit;
  background-color:rgba(153, 153, 153, 0.227450980392157);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1066 {
  position:absolute;
  left:0px;
  top:268px;
  width:366px;
  height:75px;
}
#u1067 {
  position:absolute;
  left:2px;
  top:30px;
  width:362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1068 {
  position:absolute;
  left:58px;
  top:89px;
  visibility:hidden;
}
#u1068_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u1068_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1069_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:363px;
  background:inherit;
  background-color:rgba(51, 51, 51, 0.8);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:left;
}
#u1069 {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:363px;
  color:#FFFFFF;
  text-align:left;
}
#u1070 {
  position:absolute;
  left:2px;
  top:38px;
  width:246px;
  word-wrap:break-word;
}
#u1068_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u1068_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1071_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:363px;
  background:inherit;
  background-color:rgba(51, 51, 51, 0.8);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:left;
}
#u1071 {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:363px;
  color:#FFFFFF;
  text-align:left;
}
#u1072 {
  position:absolute;
  left:2px;
  top:22px;
  width:246px;
  word-wrap:break-word;
}
#u1068_state2 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u1068_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1073_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:363px;
  background:inherit;
  background-color:rgba(51, 51, 51, 0.8);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:left;
}
#u1073 {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:363px;
  color:#FFFFFF;
  text-align:left;
}
#u1074 {
  position:absolute;
  left:2px;
  top:46px;
  width:246px;
  word-wrap:break-word;
}
#u1068_state3 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u1068_state3_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1075_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:363px;
  background:inherit;
  background-color:rgba(51, 51, 51, 0.8);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:left;
}
#u1075 {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:363px;
  color:#FFFFFF;
  text-align:left;
}
#u1076 {
  position:absolute;
  left:2px;
  top:30px;
  width:246px;
  word-wrap:break-word;
}
#u1077_div {
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:647px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.419607843137255);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#949494;
}
#u1077 {
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:647px;
  color:#949494;
}
#u1078 {
  position:absolute;
  left:2px;
  top:316px;
  width:362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1079_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u1079 {
  position:absolute;
  left:318px;
  top:73px;
  width:57px;
  height:35px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u1080 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u1081_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u1081 {
  position:absolute;
  left:318px;
  top:147px;
  width:57px;
  height:35px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u1082 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u1083_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u1083 {
  position:absolute;
  left:318px;
  top:223px;
  width:57px;
  height:35px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u1084 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u1085_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u1085 {
  position:absolute;
  left:318px;
  top:291px;
  width:57px;
  height:35px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u1086 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
