body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3166_div {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:647px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3166 {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:647px;
}
#u3167 {
  position:absolute;
  left:2px;
  top:316px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3168_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:22px;
}
#u3168 {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:22px;
}
#u3169 {
  position:absolute;
  left:2px;
  top:3px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3170_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:22px;
}
#u3170 {
  position:absolute;
  left:0px;
  top:22px;
  width:374px;
  height:22px;
}
#u3171 {
  position:absolute;
  left:2px;
  top:3px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3172_div {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u3172 {
  position:absolute;
  left:103px;
  top:7px;
  width:196px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u3173 {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  word-wrap:break-word;
}
#u3174_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u3174 {
  position:absolute;
  left:9px;
  top:5px;
  width:82px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u3175 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u3176_img {
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:2px;
}
#u3176 {
  position:absolute;
  left:39px;
  top:342px;
  width:298px;
  height:1px;
}
#u3177 {
  position:absolute;
  left:2px;
  top:-8px;
  width:294px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3178_div {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:68px;
  background:inherit;
  background-color:rgba(92, 191, 36, 0.227450980392157);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u3178 {
  position:absolute;
  left:0px;
  top:43px;
  width:374px;
  height:68px;
  text-align:left;
}
#u3179 {
  position:absolute;
  left:2px;
  top:24px;
  width:370px;
  word-wrap:break-word;
}
#u3180_div {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:68px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u3180 {
  position:absolute;
  left:0px;
  top:105px;
  width:374px;
  height:68px;
  text-align:left;
}
#u3181 {
  position:absolute;
  left:2px;
  top:24px;
  width:370px;
  word-wrap:break-word;
}
#u3182_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:45px;
}
#u3182 {
  position:absolute;
  left:9px;
  top:52px;
  width:47px;
  height:45px;
}
#u3183 {
  position:absolute;
  left:2px;
  top:14px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3184_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:45px;
}
#u3184 {
  position:absolute;
  left:9px;
  top:108px;
  width:47px;
  height:45px;
}
#u3185 {
  position:absolute;
  left:2px;
  top:14px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3186_div {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:647px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.419607843137255);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#949494;
}
#u3186 {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:647px;
  color:#949494;
}
#u3187 {
  position:absolute;
  left:2px;
  top:316px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3188_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u3188 {
  position:absolute;
  left:334px;
  top:65px;
  width:38px;
  height:16px;
  color:#999999;
}
#u3189 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  word-wrap:break-word;
}
#u3190_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u3190 {
  position:absolute;
  left:337px;
  top:130px;
  width:38px;
  height:16px;
  color:#999999;
}
#u3191 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  word-wrap:break-word;
}
#u3192 {
  position:absolute;
  left:73px;
  top:232px;
  visibility:hidden;
}
#u3192_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u3192_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3193_div {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:120px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.8);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3193 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:120px;
}
#u3194 {
  position:absolute;
  left:2px;
  top:52px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3195_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u3195 {
  position:absolute;
  left:10px;
  top:14px;
  width:180px;
  height:56px;
  color:#FFFFFF;
  text-align:center;
}
#u3196 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
#u3197_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:25px;
  background:inherit;
  background-color:rgba(92, 191, 36, 1);
  border:none;
  border-radius:12px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u3197 {
  position:absolute;
  left:20px;
  top:80px;
  width:70px;
  height:25px;
  color:#FFFFFF;
}
#u3198 {
  position:absolute;
  left:2px;
  top:4px;
  width:66px;
  word-wrap:break-word;
}
#u3199_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:25px;
  background:inherit;
  background-color:rgba(92, 191, 36, 1);
  border:none;
  border-radius:12px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u3199 {
  position:absolute;
  left:122px;
  top:80px;
  width:68px;
  height:25px;
  color:#FFFFFF;
}
#u3200 {
  position:absolute;
  left:2px;
  top:4px;
  width:64px;
  word-wrap:break-word;
}
#u3192_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u3192_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3201_div {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:120px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.8);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3201 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:120px;
}
#u3202 {
  position:absolute;
  left:2px;
  top:52px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3203_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u3203 {
  position:absolute;
  left:10px;
  top:14px;
  width:180px;
  height:56px;
  color:#FFFFFF;
  text-align:center;
}
#u3204 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
#u3205_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:25px;
  background:inherit;
  background-color:rgba(92, 191, 36, 1);
  border:none;
  border-radius:12px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u3205 {
  position:absolute;
  left:22px;
  top:80px;
  width:68px;
  height:25px;
  color:#FFFFFF;
}
#u3206 {
  position:absolute;
  left:2px;
  top:4px;
  width:64px;
  word-wrap:break-word;
}
#u3207_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:25px;
  background:inherit;
  background-color:rgba(92, 191, 36, 1);
  border:none;
  border-radius:12px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u3207 {
  position:absolute;
  left:122px;
  top:80px;
  width:68px;
  height:25px;
  color:#FFFFFF;
}
#u3208 {
  position:absolute;
  left:2px;
  top:4px;
  width:64px;
  word-wrap:break-word;
}
