body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2350_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:647px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2350 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:647px;
}
#u2351 {
  position:absolute;
  left:2px;
  top:316px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2352_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:22px;
}
#u2352 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:22px;
}
#u2353 {
  position:absolute;
  left:2px;
  top:3px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2354_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:22px;
}
#u2354 {
  position:absolute;
  left:0px;
  top:22px;
  width:375px;
  height:22px;
}
#u2355 {
  position:absolute;
  left:2px;
  top:3px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2356_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u2356 {
  position:absolute;
  left:138px;
  top:11px;
  width:127px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u2357 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  word-wrap:break-word;
}
#u2358_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u2358 {
  position:absolute;
  left:9px;
  top:5px;
  width:82px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u2359 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2360_div {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:45px;
  background:inherit;
  background-color:rgba(92, 191, 36, 1);
  border:none;
  border-radius:1px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u2360 {
  position:absolute;
  left:12px;
  top:584px;
  width:352px;
  height:45px;
  font-size:20px;
  color:#FFFFFF;
}
#u2361 {
  position:absolute;
  left:2px;
  top:10px;
  width:348px;
  word-wrap:break-word;
}
#u2362_div {
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:44px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.6);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u2362 {
  position:absolute;
  left:9px;
  top:55px;
  width:354px;
  height:44px;
  font-size:16px;
  text-align:left;
}
#u2363 {
  position:absolute;
  left:2px;
  top:12px;
  width:350px;
  word-wrap:break-word;
}
#u2364_div {
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:44px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.6);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u2364 {
  position:absolute;
  left:9px;
  top:118px;
  width:354px;
  height:44px;
  font-size:16px;
  text-align:left;
}
#u2365 {
  position:absolute;
  left:2px;
  top:12px;
  width:350px;
  word-wrap:break-word;
}
#u2366_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:14px;
}
#u2366 {
  position:absolute;
  left:326px;
  top:73px;
  width:23px;
  height:14px;
}
#u2367 {
  position:absolute;
  left:2px;
  top:-1px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2368_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:14px;
}
#u2368 {
  position:absolute;
  left:326px;
  top:135px;
  width:23px;
  height:14px;
}
#u2369 {
  position:absolute;
  left:2px;
  top:-1px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2370_div {
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:44px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.6);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u2370 {
  position:absolute;
  left:9px;
  top:184px;
  width:354px;
  height:44px;
  font-size:16px;
  text-align:left;
}
#u2371 {
  position:absolute;
  left:2px;
  top:12px;
  width:350px;
  word-wrap:break-word;
}
#u2372 {
  position:absolute;
  left:9px;
  top:174px;
  width:352px;
  height:191px;
  overflow:hidden;
  visibility:hidden;
}
#u2372_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:191px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2372_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2373_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(51, 51, 51, 0.8);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2373 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
}
#u2374 {
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2375 {
  position:absolute;
  left:17px;
  top:21px;
  width:253px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u2376 {
  position:absolute;
  left:2px;
  top:0px;
  width:235px;
  word-wrap:break-word;
}
#u2375_input {
  position:absolute;
  left:236px;
  top:-2px;
}
#u2377 {
  position:absolute;
  left:17px;
  top:59px;
  width:253px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u2378 {
  position:absolute;
  left:2px;
  top:0px;
  width:235px;
  word-wrap:break-word;
}
#u2377_input {
  position:absolute;
  left:236px;
  top:-2px;
}
#u2379 {
  position:absolute;
  left:17px;
  top:101px;
  width:253px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u2380 {
  position:absolute;
  left:2px;
  top:0px;
  width:235px;
  word-wrap:break-word;
}
#u2379_input {
  position:absolute;
  left:236px;
  top:-2px;
}
#u2381_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:647px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.419607843137255);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#949494;
}
#u2381 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:647px;
  color:#949494;
}
#u2382 {
  position:absolute;
  left:2px;
  top:316px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2383 {
  position:absolute;
  left:12px;
  top:184px;
  width:352px;
  height:191px;
  overflow:hidden;
  visibility:hidden;
}
#u2383_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:191px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2383_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2384_div {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:191px;
  background:inherit;
  background-color:rgba(51, 51, 51, 0.8);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2384 {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:191px;
}
#u2385 {
  position:absolute;
  left:2px;
  top:88px;
  width:347px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2386 {
  position:absolute;
  left:17px;
  top:21px;
  width:318px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u2387 {
  position:absolute;
  left:2px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u2386_input {
  position:absolute;
  left:301px;
  top:-2px;
}
#u2388 {
  position:absolute;
  left:17px;
  top:59px;
  width:318px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u2389 {
  position:absolute;
  left:2px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u2388_input {
  position:absolute;
  left:301px;
  top:-2px;
}
#u2390 {
  position:absolute;
  left:17px;
  top:101px;
  width:318px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u2391 {
  position:absolute;
  left:2px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u2390_input {
  position:absolute;
  left:301px;
  top:-2px;
}
#u2392 {
  position:absolute;
  left:59px;
  top:196px;
  visibility:hidden;
}
#u2392_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u2392_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2393_div {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:120px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.8);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2393 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:120px;
}
#u2394 {
  position:absolute;
  left:2px;
  top:52px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2395_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u2395 {
  position:absolute;
  left:10px;
  top:14px;
  width:180px;
  height:56px;
  color:#FFFFFF;
  text-align:center;
}
#u2396 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
#u2397_div {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
  background:inherit;
  background-color:rgba(92, 191, 36, 1);
  border:none;
  border-radius:12px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2397 {
  position:absolute;
  left:22px;
  top:80px;
  width:170px;
  height:30px;
  color:#FFFFFF;
}
#u2398 {
  position:absolute;
  left:2px;
  top:7px;
  width:166px;
  word-wrap:break-word;
}
#u2399_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2399 {
  position:absolute;
  left:137px;
  top:68px;
  width:151px;
  height:16px;
}
#u2400 {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  white-space:nowrap;
}
#u2401_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2401 {
  position:absolute;
  left:280px;
  top:133px;
  width:29px;
  height:16px;
}
#u2402 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
