body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u48_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:647px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u48 {
  position:absolute;
  left:0px;
  top:1px;
  width:375px;
  height:647px;
}
#u49 {
  position:absolute;
  left:2px;
  top:316px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:285px;
}
#u50 {
  position:absolute;
  left:1px;
  top:0px;
  width:374px;
  height:285px;
}
#u51 {
  position:absolute;
  left:2px;
  top:134px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:59px;
}
#u52 {
  position:absolute;
  left:0px;
  top:258px;
  width:375px;
  height:59px;
}
#u53 {
  position:absolute;
  left:2px;
  top:22px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:21px;
}
#u54 {
  position:absolute;
  left:0px;
  top:308px;
  width:375px;
  height:21px;
}
#u55 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:208px;
}
#u56 {
  position:absolute;
  left:8px;
  top:272px;
  width:359px;
  height:208px;
}
#u57 {
  position:absolute;
  left:2px;
  top:96px;
  width:355px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:62px;
  top:280px;
  width:248px;
  height:28px;
}
#u58_input {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u58_input {
  font-family:'应用字体';
}
#u59 {
  position:absolute;
  left:63px;
  top:339px;
  width:248px;
  height:28px;
}
#u59_input {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u59_input {
  font-family:'应用字体';
}
#u60 {
  position:absolute;
  left:63px;
  top:392px;
  width:248px;
  height:28px;
}
#u60_input {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u60_input {
  font-family:'应用字体';
}
#u61_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#3CAE34;
}
#u61 {
  position:absolute;
  left:68px;
  top:432px;
  width:129px;
  height:48px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#3CAE34;
}
#u62 {
  position:absolute;
  left:2px;
  top:14px;
  width:125px;
  word-wrap:break-word;
}
#u63_div {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:46px;
  background:inherit;
  background-color:rgba(91, 191, 31, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:19px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u63 {
  position:absolute;
  left:63px;
  top:528px;
  width:248px;
  height:46px;
}
#u64 {
  position:absolute;
  left:2px;
  top:15px;
  width:244px;
  word-wrap:break-word;
}
