body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1359_div {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:647px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1359 {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:647px;
}
#u1360 {
  position:absolute;
  left:2px;
  top:316px;
  width:351px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1361_img {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:22px;
}
#u1361 {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:22px;
}
#u1362 {
  position:absolute;
  left:2px;
  top:3px;
  width:351px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1363_img {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:22px;
}
#u1363 {
  position:absolute;
  left:0px;
  top:22px;
  width:355px;
  height:22px;
}
#u1364 {
  position:absolute;
  left:2px;
  top:3px;
  width:351px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1365_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1365 {
  position:absolute;
  left:131px;
  top:11px;
  width:120px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1366 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u1367 {
  position:absolute;
  left:9px;
  top:55px;
  width:213px;
  height:28px;
}
#u1367_input {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1367_input {
  font-family:'应用字体';
}
#u1368_img {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:2px;
}
#u1368 {
  position:absolute;
  left:9px;
  top:89px;
  width:333px;
  height:1px;
}
#u1369 {
  position:absolute;
  left:2px;
  top:-8px;
  width:329px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1370_img {
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:55px;
}
#u1370 {
  position:absolute;
  left:9px;
  top:106px;
  width:333px;
  height:55px;
}
#u1371 {
  position:absolute;
  left:2px;
  top:20px;
  width:329px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1372_div {
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:296px;
  background:inherit;
  background-color:rgba(92, 191, 36, 0.227450980392157);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1372 {
  position:absolute;
  left:9px;
  top:312px;
  width:333px;
  height:296px;
}
#u1373 {
  position:absolute;
  left:2px;
  top:140px;
  width:329px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1374_div {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u1374 {
  position:absolute;
  left:20px;
  top:327px;
  width:155px;
  height:16px;
  color:#CCCCCC;
}
#u1375 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  word-wrap:break-word;
}
#u1376_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1376 {
  position:absolute;
  left:308px;
  top:17px;
  width:67px;
  height:16px;
  color:#FFFFFF;
}
#u1377 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  word-wrap:break-word;
}
#u1378_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1378 {
  position:absolute;
  left:9px;
  top:11px;
  width:78px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1379 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  word-wrap:break-word;
}
#u1380_div {
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:40px;
  background:inherit;
  background-color:rgba(204, 204, 204, 0.686274509803922);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1380 {
  position:absolute;
  left:9px;
  top:607px;
  width:333px;
  height:40px;
}
#u1381 {
  position:absolute;
  left:2px;
  top:12px;
  width:329px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1382_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:34px;
}
#u1382 {
  position:absolute;
  left:9px;
  top:607px;
  width:55px;
  height:34px;
}
#u1383 {
  position:absolute;
  left:2px;
  top:9px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1384_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:39px;
}
#u1384 {
  position:absolute;
  left:108px;
  top:607px;
  width:57px;
  height:39px;
}
#u1385 {
  position:absolute;
  left:2px;
  top:12px;
  width:53px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1386_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:34px;
}
#u1386 {
  position:absolute;
  left:202px;
  top:607px;
  width:49px;
  height:34px;
}
#u1387 {
  position:absolute;
  left:2px;
  top:9px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1388_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:34px;
}
#u1388 {
  position:absolute;
  left:287px;
  top:607px;
  width:54px;
  height:34px;
}
#u1389 {
  position:absolute;
  left:2px;
  top:9px;
  width:50px;
  visibility:hidden;
  word-wrap:break-word;
}
